@inject MCan.Services.JsonLocalizationService Localizer
@using Microsoft.Extensions.Localization
@using System.Globalization

@{
    var isArabic = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar";
    var dir = isArabic ? "rtl" : "ltr";
    var textAlign = isArabic ? "text-end" : "text-start";
}


<footer id="footer" class="footer dark-background">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span class="sitename">M.can</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>Al-Oruba Square, Al-Mohandessin Towers, Tower No. 5</p>
                        @* <p class="mt-3"><strong>Phone:</strong>+201105693401</p> *@
                        <p><strong>Email:</strong> <span>m.can.group.01@gmail.com</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=61575164548300"><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#hero"> Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about"> About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services"> Services</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#portfolio"> Our projects</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Point of Sale Systems</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Clinic & Hospital Systems</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Sales & Inventory</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Photo & Printing Shops</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Rental & Leasing Stores</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#services">Custom Digital Solutions</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container text-center">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Mcan</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
            </div>
        </div>
    </div>

</footer>