@model Models.Service

@{
    ViewData["Title"] = "Add Service";
}

<h1 class="mb-4">Add Service</h1>

<div class="card shadow-sm p-4 mb-5" style="max-width: 900px; margin:auto;">
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="TitleAr" class="form-label"></label>
                <input asp-for="TitleAr" class="form-control" />
                <span asp-validation-for="TitleAr" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="TitleEn" class="form-label"></label>
                <input asp-for="TitleEn" class="form-control" />
                <span asp-validation-for="TitleEn" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="DescriptionAr" class="form-label"></label>
                <textarea asp-for="DescriptionAr" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionAr" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="DescriptionEn" class="form-label"></label>
                <textarea asp-for="DescriptionEn" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionEn" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="IconClass" class="form-label"></label>
                <input asp-for="IconClass" class="form-control" />
                <span asp-validation-for="IconClass" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label for="ImageFile" class="form-label">Service Image</label>
                <input type="file" name="ImageFile" class="form-control" />
            </div>

        </div>

 


        <div class="d-flex justify-content-start gap-2">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
